<launch>

  <rosparam file="$(find rail_control)/config/rail_control.yaml" command="load"/>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/rail" args="joint_state_controller
					  yaw_position_controller
					  pitch_position_controller"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/rail/joint_states" />
  </node>

</launch>
